MONGODB_URI=mongodb+srv://nabiljulian04:rZbI9udVjEuh6sdN@cluster0.ipxh7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=8080
TOKEN=12345
GOOGLE_CLIENT_ID=842908200400-3s54pnnpf5iignq5khdfhhsmudsqp1u5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SESSION_SECRET=chronologin

EMAIL_USER=chronocamm@gmail.com
EMAIL_PASS=tvmxtnbjedmyuiys